.users-and-sidebar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #F0ECE6;
    margin-bottom: 30px;
    padding: 10px 0px 10px 0px;
}

.search-field {
    border-radius: 20px;
    padding: 7px;
    width: 300px;
    border: 1px solid #09401123
}

.search-field:hover {
    background-color: #094011;
    color: white;
}

.table-container {
    background-color: white;
    width: 1200px;
}

.main-users {
    padding-left: 80px;
}

.table {
    width: 100%;
    height: auto;
}

.table thead th {
    background-color: #F0ECE6;
}

.table tbody tr th {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.table tr:hover {
    background-color: #A9BEAC;
}

.table-names-text {
    font-family: "Crimson Text", serif;
    font-size: small;
}

.table-header-text {
    font-family: "Crimson Text", serif;
    font-weight: 700;
}

.table-container {
    box-shadow: 0px 0px 4px 0px #094011;
}

.best-users-text {
    background-color: #094011;
    padding: 6px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 20px
}

.average-users-text {
    background-color: #ffc107;
    padding: 6px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 20px
}

.unactive-users-text {
    background-color:#dc3545;
    padding: 6px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 20px
}