.users-and-sidebar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #094011;
    margin-bottom: 30px;
    padding: 20px 0px 20px 0px;
    width: 85%;
    margin-left: 15%;
    color: #F0ECE6;
    border-radius: 0px 0px 15px 15px ;
}
.users-and-sidebar-container div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upper-users-text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.search-field {
    border-radius: 20px;
    padding: 7px;
    width: 300px;
    border: 1px solid white
}

.search-field:hover {
    background-color: #094011;
    color: white;
    cursor: pointer;
}
@media only screen and (max-width: 316px) {
    .users-and-sidebar-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
@media only screen and (max-width: 316px) {
    .search-field{
        width: 295px;
        margin-left: auto;
        margin-right: auto;
    }
    
}
@media only screen and (max-width: 316px) {
    .search-field{
        width: 100%;
    }
    .search-field::placeholder{
        font-size: small;
        font-weight: 500;
    }

    
}

.user-listing-overall-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}



.user-image-container {
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color: #094011fe;
    border-radius: 12px 12px 0px 0px;
}

.user-image-container img {
    border-radius: 12px 12px 0px 0px;
}

.user-lower-container {
    padding: 5px;
}

.user-listing-container {
    max-width: 200px;
    height: auto;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 3px 0px #094011;
    padding: 1px 1px 10px 1px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.add-btn-field {
    padding: 10px;
    background-color: #094011;
    width: 99%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    font-family: "League Spartan", serif;
}

.user-name {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    color: #094011
}

.user-group {
    font-family: "Crimson Text", serif;
    font-size: small;
    font-weight: 700;
    color: #00000073;
}

/*  ///////////////////////       ////////////////////////////////////////////////  */

.small-screen-users-count{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: small;
    font-weight: 700;
    font-family: "Crimson Text", serif;
}

@media only screen and (min-width: 962px) {
    .user-listing-overall-container {
        width: 80%;
        margin-left: 18%;
    }
    .small-screen-users-count{
        display: none;
    }
}

@media only screen and (max-width: 962px) {
    .user-listing-overall-container {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .user-listing-overall-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .small-screen-users-count{
        display: block;
    }
}

@media only screen and (max-width: 1050px) {
    .user-listing-container {
        width: 30%;
    }

    .add-btn-field {
        font-size: small;
        padding: 5px;
    }

    .user-lower-container {
        width: 100%;
    }
}

@media only screen and (max-width: 546px) {
    .user-listing-container {
        width: 45%;
    }
}

@media only screen and (max-width: 360px) {
    .big-input-add{
        display: none;
    }
    .small-input-add {
        display: block;
    }
}

@media only screen and (min-width: 360px) {
    .small-input-add {
        display: none;
    }
    .big-input-add{
        display: block;
    }
}
@media only screen and (min-width: 1200px){
    .user-name-and-popover-container{
        display: block;
    }
    .user-name-for-small-screen{
        display: none;
    }
}


@media only screen and (max-width: 1200px){
    .user-name-and-popover-container{
        display: none;
    }
    .user-name-for-small-screen{
        display: block;
    }
}

.small-screen-msg-input-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.small-screen-msg-input{
    background: #A9BEAC;
    border: 0px;
    width: auto;
    height: auto;
    color: #ffffff;
    margin-top: 10px;
}
.small-screen-msg-input:hover{
    font-weight: 700;
    color: #ffffff;
}
.stick-top-user-search-container{
    position: sticky;
    top: 0;
}
