@media only screen and (max-width: 765px) {
    .friend-group-inner-container div {
        width: 30%;
    }
}

@media only screen and (max-width: 610px) {
    .friend-group-inner-container div {
        width: 45%;
    }

    .friend-group-inner-container {
        width: 98%;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .img-name-and-btn-container {
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 300px){
    .friend-group-inner-container div {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width: 610px) {
    .friend-group-inner-container {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 18%;
    }
}

@media only screen and (min-width: 765px) {
    .friend-group-inner-container div {
        width: 24%;
        margin: 0px 5px 10px 0px;
    }
}

@media only screen and (max-width: 765px) {
    .friend-group-inner-container div {
        margin: 0px 3px 8px 0px;
    }
}

.friend-group-inner-container {
    margin-top: 20px;
}

.friend-group-inner-container div {
    background-color: #f8f9fa;
    border-radius: 2px;
}

.friend-group-inner-container div div {
    width: 100%;
}

.img-container img {
    width: 40%;
}

.friend-group-inner-container .img-container,
.friend-group-inner-container .user-name-container,
.friend-group-inner-container .btns-container,
.friend-group-inner-container div div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.popover-groups-name {
    padding-bottom: 10px;
    line-height: 0px;

}

.message-button {
    background-color: #094011;
    color: White;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 0px;
    font-family: "Leaugue Spartan", serif;
}

.delete-button {
    background-color: #d60808c0;
    color: White;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-bottom: 5px;
    border: 0px;
    font-family: "Leaugue Spartan", serif;
}

.user-name-container {
    font-family: "League Spartan", serif;
    font-weight: 700;
}

.member-group-title {
    font-family: "Leaugue Spartan", serif;
}

.small-screnn-nmb-of-frineds{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: small;
    font-weight: 700;
    font-family: "Crimson Text", serif;
}
@media only screen and (min-width: 962px){
    .small-screnn-nmb-of-frineds{
        display: none;
    }
}
@media only screen and (max-width: 962px){
    .friend-group-inner-container{
        margin-top: 0px;
        margin-top: 20px;
    }
}