.rules-popover-container {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
}

.close-icon-container {
    width: 5%;
    padding: 5px;
}

.close-icon-upper-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.close-icon-upper-container img:hover {
    background-color: #ff000032;
    border-radius: 100%;
}

.group-name-in-rules {
    color: #094011;
}

.popover-contents-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.group-image-container-in-popover {
    width: 49%;
}

@media only screen and (max-width: 705px) {
    .welcom-container-in-popover {
        display: none;
    }
}

.image-and-group-welcom-container {
    box-shadow: 0px 0px 2px 0px #094011;
    padding: 10px;
    border-radius: 2px;
}

.rules-container-in-popover {
    width: 49%;
    box-shadow: 0px 0px 2px 0px #094011;
    padding: 10px;
    border-radius: 2px;
}

@media only screen and (max-width: 705px) {
    .rules-container-in-popover {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

.small-group-img-container {
    width: 10%;
}

.small-group-img-container img {
    border-radius: 100%;
}

.rules-text-and-number-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    margin-top: 15px;
}

.number-container {
    background-color: #0000002b;
    padding: 5px 7px 5px 7px;
    border-radius: 100%;
}

.rules-text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 7px
}

.rule-title-text {
    font-family: "Leaugue Spartan", serif;
    font-weight: 700;
}

.group-goal-text-container {
    font-family: "Crimson Text", serif;
    margin-top: 20px;

}

.bigger-group-img-container {
    margin-top: 20px;
}

.display-all-rules-btn-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pop-rule-text {
    font-family: "Crimson Text", serif;
    font-size: small;
    font-weight: 700;
    color: #094011a7;
    padding: 20px;
}

.group-add {
    color: black;
}

.pop-icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.pop-like-icon-container {
    width: 10%;
}

.pop-add-and-text-conatiner {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 608px) {
    .rules-popover-container {
        width: 600px;
    }
}

@media only screen and (max-width: 608px) {
    .rules-popover-container {
        width: 99%;
        margin-left: auto;
        margin-right: auto;
    }

    .close-icon-container {
        width: 8%;
    }
}

@media only screen and (max-width: 449px) {
    .rules-text-container {
        font-size: small
    }
}

.popover-for-texts-container {
    left: 50%
}

@media only screen and (max-width: 514px) {
    .popover-for-texts-container {
        left: 0px
    }
}

.popover-content-container {
    width: 300px;
}

@media only screen and (max-width: 402px) {
    .popover-content-container {
        width: 250px;
    }

    .rules-container-in-popover {
        width: 95%;
    }

    .popover-contents-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .close-icon-container {
        width: 12%;
    }
}

@media only screen and (max-width: 300px) {
    .pop-rule-text {
        font-size: x-small;
    }
}

@media only screen and (max-width: 320px) {
    .user-img-and-post-field {
        padding: 8px;
    }
}

@media only screen and (max-width: 265px) {
    .close-icon-container {
        width: 15%;
    }
}