.posts-display-inner-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px 0px #094011;
}
.posts-user-img-and-date-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    font-family: "League Spartan", serif;
}
.post-user-img-container{
    width: 6%;
    margin-right: 10px;
}
.post-user-img-container img{
    border-radius: 100%;
}
.post-date-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.post-contents-container{
    margin-top: 20px;
    font-family: "Crimson Text", serif;
}
.incognito-form-check-label{
    color: black;
}
.incognito-check-labels-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.incognito-input-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    margin-top: 10px;
}
.incognito-input-field{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.incognito-rule-text{
    color: black;
    background-color: #09401150;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px 0px #094011;
}
.incognito-pop-warning-text{
    color: #ca0808;
}

.message-icon-and-text-container{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.post-message-icon-container{
    width: 10%;
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.message-icon-and-text-upper{
    background-color: #a9beac71;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}
.message-text-area{
    background-color: #a9beac71;
    color: black;
}
.comment-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}
.comment-text-and-user-name-conatiner{
    width: 50%;
    background-color: #00000013;
    border-radius: 20px;
    padding: 10px;
}
.comment-user-img{
    width: 4%;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment-user-img img{
    border-radius: 100%;
}
.user-commented-name{
    font-family: "League Spartan", serif;
    font-size: small;
    font-weight: 700;
}
.comment-msg{
    font-family: "Crimson Text", serif;
    margin-top: 5px;
}
.edit-and-delete-post-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.edit-post-text{
    margin-right: 20px;
    color: #094011;
    font-family: "League Spartan", serif;
    font-weight: 500;
}
.edit-post-text:hover{
    text-decoration: none;
    color: #097c1b;
}
.delete-post-text{
    color: #d60808c0;
    font-family: "League Spartan", serif;
    font-weight: 500; 
}
.delete-post-text:hover{
    text-decoration: none;
    color: #f90606;
}
.update-text-area{
    width: 100%;
}
.update-text-area-container textarea{
    height: 100px;
    border: 0px;
    background-color:#4c4b4b19;
    padding: 10px;
    border-radius: 2px;
}
.cancel-post-update{
    color: #0000ff;
    font-family: "League Spartan", serif;
    font-weight: 500;
}
.cancel-post-update:hover{
    text-decoration: none;
    color: #030352;
}
.validate-update-text{
    color: #ffc107;
    font-family: "League Spartan", serif;
    font-weight: 500;
}
.validate-update-text:hover{
    text-decoration: none;
    color: #6a5105;
}
.comment-edit-and-delete-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 5px;
}
.comment-edit{
    font-size: x-small;
    font-weight: 500;
}
