.user-setting-main-container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background: #ffffffdd;
    border-radius: 10px;
    padding: 30px 10px 30px 10px;
    box-shadow: 0px 0px 2px 0px #094011;
}
.user-setting-main-container .green-btn{
    background-color: #094011;
    color: white;
}
.user-setting-main-container .undo-change-btn{
    background-color: #ff00009f;
    color: #000000;
}
.setting-user-img-container{
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}
.setting-user-img-container img{
    border-radius: 50%;
}
.setting-div-upper-container{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    box-shadow: 0px 0px 2px 0px #094011;
    padding: 5px;
    border-radius: 10px;
}

.flex-column-div,
.first-upload-img-btn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center-user-settings{
    padding-top: 150px;
    padding-left: 150px;
}
.setting-txt{
    margin-bottom: 10px;
    font-family: "League Spartan", serif;
    font-weight: 700;
    color: #000000ad;
    font-size: x-large;
}
.name-title{
    font-family: "League Spartan", serif;
}
.remove-image-display-container input{
   background-color: #0077BE;
   color: white;
}
.replace-image-display-container input{
    background-color: #FFA500;
    color: white;
}
.setting-image-btns-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 40px;
}
.usr-img-setting-btn input{
    padding: 15px 10px 15px 10px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-bottom: 10px;
}
.name-container{
    margin-top: 10px;
}
.name-error,
.email-error{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #ff000097;
    padding: 6px;
    color: white;
    text-align: center;
    font-family: "League Spartan", serif;
    font-weight: 700;
    box-shadow: 0px 0px 2px 0px #094011;
    
}

.email-error{
    margin-top: 10px;
}
.user-info {
    font-family: "Crimson Text", serif;
}

.setting-input-container input {
    border: 0px;
    box-shadow: 0px 0px 2px 0px #094011;
    padding: 5px;
    border-radius: 10px;
}
.setting-input-container,
.validate-btn-update{
    margin-right: 5px;
}
.option-forgotten-pwd{
    color: red;
    font-size: small;
}
.option-forgotten-pwd:hover{
    color: red;
}
.btn-sbmt-updayte-pwd{
    margin-bottom: 20px;
}

.pwd-conf-success-msg{
    background: #094011;
    color: whitesmoke;
    text-align: center;
    padding: 20px 0px 20px 0px;
    border-radius: 0px;
    font-family: "League Spartan", serif;
    font-weight: 700;
}

.remove-profile-img-msg{
    background: #FF9C00;
    color: #000000;
}
.modify-btn-container input{
    border-radius: 16px;
    padding: 10px 5px 10px 5px;
    border: 0;
    background-color: #094011;
    color: white;
    font-size: large;
    box-shadow: 1px 1px white;
    width: 200px;
}
