.group-page-container {
    background-color: #A9BEAC;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.group-main-elements {
    width: 85%;
    margin-left: 15%;
    padding-bottom: 20px;
}

@media only screen and (max-width: 962px) {
    .group-main-elements {
        width: 100%;
        margin-left: 0px;
        padding-bottom: 20px;
    }
}

.group-inner-container {
    width: 100%;
}

.group-img-container {
    width: 100%;
    height: 300px;
}

.group-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.group-name-container {
    background-color: #094011;
    padding: 6px 0px 6px 0px;
    color: white;
    font-family: "League Spartan", serif;
}

.users-img-container {
    width: 3%;
    height: auto;
}

.users-img-container img {
    border-radius: 100%;
    margin-top: 20px;
}


.user-upper-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    padding-bottom: 20px;
}

.public-text {
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "League Spartan", serif;
}

.earth-icon-container {
    width: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.anonymous-icon-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.flex-icon-and-group-status {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 30px;
    background-color: white;
}

.user-post-and-group-description-container {
    width: 98%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 815px) {
    .user-post-and-group-description-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .group-description-container {
        /* Order to appear on top */
        order: -1;
    }
}

.group-descriptions-inner {
    background-color: white;
    box-shadow: 0px 0px 2px 0px #094011;
    border-radius: 2px;
    padding: 10px;
}

.user-post-container {
    width: 58%;
}

@media only screen and (max-width: 815px) {
    .user-post-container {
        width: 100%;
    }
}

.user-img-and-post-field {
    box-shadow: 0px 0px 2px 0px #094011;
    padding: 20px;
    background-color: white;
}

.group-description-container {
    width: 39%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 815px) {
    .group-description-container {
        width: 100%;
    }
}

.user-connected-img-container {
    width: 8%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-connected-img-container img {
    border-radius: 100%;
}

.flex-post-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post-input-field-container {
    width: 90%;
    font-family: "League Spartan", serif;
}

.anonymous-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    margin-top: 20px;
    font-family: "League Spartan", serif;
    ;
}

.anonymous-text-container {
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.abt-group-container {
    font-family: "Leaugue Spartan", serif;
    font-weight: 700;
}

.group-decsription-container {
    font-family: "Crimson Text", serif;
    margin-top: 20px;

}

.public-and-icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    margin-top: 20px;
}

.post-earth-icon-container {
    width: 5%;
}

.public-text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    font-family: "League Spartan", serif;
}

.policies-container {
    background-color: white;
    box-shadow: 0px 0px 2px 0px #094011;
    padding: 20px;
    border-radius: 2px;
}

.big-container {
    border-bottom: 1px solid black;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1410px) {
    .big-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px
    }
}

.images-group {
    width: 85%;
}

@media only screen and (max-width: 745px) {
    .images-group {
        width: 100%;
    }

    .users-img-container {
        width: 5%;
    }
}

@media only screen and (max-width: 331px) {
    .users-img-container {
        width: 8%;
    }
}

.add-group-btn-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.add-group-btn-container button {
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 0px #094011;
    color: white;
    font-family: "League Spartan", serif;
}
.quit-group-btn{
    background: rgba(239, 96, 96, 0.997);
    border: 0px;
}
.add-group-btn{
    background: #094011;
}

.post-in-group-text-section {
    margin-top: 20px;
}

.no-post-in-group-text {
    color: white;
    background-color: #094011;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px 0px white;
    font-family: "League Spartan", serif;
}

.posts-submit-btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.white-right-space {
    background-color: white;
    height: 300px;
    margin-top: 20px;
    box-shadow: 0px 0px 3px 0px #094011;
    border-radius: 2px;
}

@media only screen and (max-width: 815px) {
    .white-right-space {
        display: none;
    }

    .group-descriptions-inner {
        margin-bottom: 10px;
    }
}

.sticky-section {
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
}

@media only screen and (max-width: 815px) {
    .sticky-section {
        position: static;
        top: auto;
    }
}

.big-screen-rule-option-text {
    background: #A9BEAC;
    padding: 10px;
    color: #000000;
    border-radius: 2px;
}

@media only screen and (max-width: 962px) {
    .big-screen-rule-option-text {
        display: none;
    }

    .big-screen-pop-text-container {
        display: none;
    }

    .groups-container {
        padding: 0px 15px 0px 15px;
    }

    .welcom-msg-container {
        margin-left: 15px;
        margin-right: 15px;
    }

    .group-upper-title-container {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media only screen and (min-width: 962px) {

    .groups-container {
        width: 80%;
        margin-left: 18%;
    }

    .welcom-msg-container {
        width: 80%;
        margin-left: 18%;
    }

    .group-upper-title-container {
        width: 80%;
        margin-left: 18%;
    }
}
@media only screen and (max-width: 485px) {

    .groups-container {
        padding: 0px 6px 0px 6px;
    }

    .welcom-msg-container {
        margin-left: 6px;
        margin-right: 6px;
    }

    .group-upper-title-container {
        margin-left: 6px;
        margin-right: 6px;
    }
}

.unauthorised-container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background: #ff0000;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
}

.make-bold-text {
    font-weight: 700;
}
@media only screen and (max-width: 825px){
    .welcom-msg{
        font-size: large;
        font-weight: 700;
    }
}

.leave-group-instruction-subject{
    font-weight: 700;
    color: #094011;
}
.group-delete-request-container{
    margin-top: 10px;
}
.group-delete-request{
    color: #ff0000c0;
}

