.unread-msg-main-container{
    background-color: #A9BEAC;
    min-height: 100vh;
    padding-top: 50px;
}
.unread-msg-and-users-container{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background: #ffffffdd;
    margin-top: 15px;
    border-radius: 10px;
    padding: 30px 10px 30px 10px;
    box-shadow: 0px 0px 2px 0px #094011;
}
@media only screen and (max-width: 962px){
    .unread-msg-and-users-container{
        width: 70%;
    }
    .unread-msg-main-container{
        padding-top: 0px;
    }
}
@media only screen and (max-width: 505px){
    .unread-msg-and-users-container{
        width: 90%;
    }
}
.usr-img-container{
    width: 5%;
    margin-right: 10px;
}
@media only screen and (max-width: 505px){
    .usr-img-container{
        width: 8%;
    }
}
.usr-img-container img{
    border-radius: 50%;
}
.usr-img-unread-msg-and-date-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
@media only screen and (max-width: 505px){
    .usr-img-unread-msg-and-date-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.unread-usr-name-and-msg-container{
    width: 90%;
}
.unread-msg{
    margin-top: 10px;
    color: #094011;
}
.name-font{
    font-family: "League Spartan", serif;
    font-size: small;
    color: #0940119d;
}
.msg-and-chat-btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.msg-and-chat-btn-container div input{
    padding: 10px 25px 10px 25px;
    border: 0px;
    box-shadow: 0px 0px 2px 0px #094011;
    background: #A9BEAC;
    font-family: "League Spartan", serif;
}
.chat-btn-container{
    margin-top: 15px;
}
.no-message{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 700;
}